<!DOCTYPE html>
<html lang="fr">
    <%- include('partials/header') %> 
<body>
    <%- include('partials/navbar') %>
    
    <div class="container">
        <h2 class="text-center mt-5 mb-4">Transfert de produits</h2>
        <form id="forwardProductForm" action="/forward-product" method="POST" class="p-4 rounded shadow-sm bg-white">
            <!-- Champ pour le produit -->
            <div class="form-group row">
                <div class="col-md-6">
                    <label for="productId">Produit</label>
                    <select class="form-control" id="productId" name="productId" required>
                        <option value="" disabled selected>Choisissez un produit</option>
                        <% products.forEach(product => { %>
                            <option value="<%= product.productId %>" data-serial="<%= product.serialNumber %>">
                                <%= product.productName %> (Numéro de série: <%= product.serialNumber %>)
                            </option>
                        <% }) %>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="serialNumber">Numéro de série du produit</label>
                    <input type="text" class="form-control" id="serialNumber" name="serialNumber" readonly>
                </div>
            </div>
        
            <!-- Champ pour l'ID du destinataire -->
            <div class="form-group">
                <label for="destinationId">ID du destinataire (Entreprise)</label>
                <select class="form-control" id="destinationId" name="destinationId" required>
                    <option value="" disabled selected>Choisissez une entreprise</option>
                    <% companies.forEach(company => { %>
                        <option value="<%= company.company_name %>"><%= company.company_name %></option>
                    <% }) %>
                </select>
            </div>
        
            <!-- Bouton de soumission -->
            <button type="submit" class="btn btn-primary btn-block mt-3">Soumettre</button>
        </form>        
    </div>

    <script>
        // Mise à jour du champ Numéro de série lorsque l'utilisateur sélectionne un produit
        document.getElementById('productId').addEventListener('change', function() {
            var selectedOption = this.options[this.selectedIndex];
            var serialNumber = selectedOption.getAttribute('data-serial');
            document.getElementById('serialNumber').value = serialNumber;
        });
    </script>
</body>
</html>
